<h3>Les formulaires</h3>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
        <label for="input-nom">Nom :</label>
        <input type="text" name="" id="input-nom" formControlName="nom">
    </div>
    <div>
        <label for="input-age">Age : </label>
        <input type="number" name="" id="input-age" formControlName="age">
    </div>
    <div>
        <label for="input-bouffe-pref">bouffe pref</label>
        <select name="" id="input-bouffe-pref" formControlName="bouffe-pref">
            <option value="pizza">pizza</option>
            <option value="pate">pate</option>
            <option value="gateau">gateau</option>
        </select>
    </div>
    <button type="submit">Envoyer</button>
</form>

