<h1>Bonjour</h1>
<ng-template #welcomeMessage>
    <p>Bonjour {{ getUsername() }}</p>
</ng-template>
<form (ngSubmit)="onSubmit()" [formGroup]="connexionForm" *ngIf="!isConnected(); else welcomeMessage">
    <div>
        <label for="connect-user">username</label>
        <input type="text" id="connect-user" formControlName="username" >
    </div>
    <div>
        <label for="connect-pass">password</label>
        <input type="text" id="connect-pass" formControlName="password">
    </div>
    <button type="submit">envoyer</button>
</form>